@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <div class="card rounded-3 shadow-lg" style="width: 46rem;">
        <div class="card-body">
            <h4 class="card-title">Password Generator</h4>
            @* Form Inputs Start *@
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">🔒</span>
                <input type="text" class="form-control" @bind="@password">
            </div>

            <div class="input-group mb-3">
                <input type="number" class="form-control" @bind="@passwordLength">
                <span class="input-group-text">|</span>
                <input style="height: 2rem;" @oninput="GeneratePassword" type="range" step="1" min="6" max="30" class="form-range" @bind="@passwordLength">
            </div>
            
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
            </div>

            @* Form Inputs End *@
        </div>
    </div>
</div>




@code
{
    private string password = "123456";
    private int passwordLength = 6;
    private bool includeNumbers = true;
    private bool includeUppercase = false;
    private bool includeLowercase = false;
    private bool includeSpecialCharacters = false;

    private Random random = new Random();

    private void GeneratePassword(ChangeEventArgs args)
    {
        if (args.Value == null)
            return;

        passwordLength = Convert.ToInt32(args.Value);

        password = "";

        for (int i = 0; i < passwordLength; i++)
        {
            int randomNumber = random.Next(0, 10);

            password += randomNumber;
        }
    }
}
