@page "/"
@using MextFSBeginner.Domain.Entities
@using MextFSBeginner.WasmClient.Enums
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IToastService ToastService


<PageTitle>Home</PageTitle>

<MextPageTitle Title="Home Page" TitleCSS="text-primary" />

<span class="d-block">UserName:@Account.UserName</span>
<span class="d-block">Password:@(Account.IsDecrypted ? Account.Password : "*************")</span>
<button class="btn btn-info" @onclick="HandleEncryption">Sifrele</button>

@code
{
    public Account Account = new Account()
    {
        Id = Guid.NewGuid(),
        UserName = "alper.tunga@yazilim.academy",
        Password = "123alpertunga123",
        IsDecrypted = true,
        // IsShown = false
    };

    private void HandleEncryption()
    {
        if (Account.IsDecrypted)
        {
            Account.Encrypt();
            Account.IsDecrypted=false;
        }
        else
        {
            Account.Decrypt();
            Account.IsDecrypted = true;
        }
    }
}

<style>
    body {
        background: linear-gradient(to bottom, #A0DEFF, #CAF4FF);
        /* Diğer stillendirme kodları buraya eklenebilir */
    }
</style>