@using MextFSBeginner.WasmClient.Enums
<button class="@GetCSS()">@Title</button>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter] public string CSS { get; set; }

    [Parameter] public ButtonSizeType SizeType { get; set; } = ButtonSizeType.Medium;

    private string GetCSS()
    {

        if(SizeType == ButtonSizeType.Large)
            return $"{CSS} btn-lg";

        else if(SizeType == ButtonSizeType.Small)
            return $"{CSS} btn-sm";

        else
            return CSS;
    }
}
