<div class="d-flex justify-content-center mt-5">
    <div class="card rounded-3 shadow-lg" style="width: 46rem;">
        <div class="card-body">
            <h4 class="card-title text-center">@CardTitle</h4>
            @* Form Inputs Start *@
            <ul class="list-group text-center">
                @foreach (string password in SavedPasswords)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>@password</span>
                        <div>
                            <button class="btn btn-outline-secondary ms-auto" type="button" @onclick="@(() => CopyPasswordToClipboardCallback.InvokeAsync(password))">📋</button>
                            <button class="btn btn-outline-danger ms-auto" type="button" @onclick="@(() => HandleDeleteButtonClickCallback.InvokeAsync(password))">🗑️</button>
                        </div>
                    </li>

                }
            </ul>
            @* Form Inputs End *@
        </div>
    </div>
</div>

@code {
    [Parameter] public string CardTitle { get; set; } = "Saved Passwords";

    [Parameter]
    public List<string> SavedPasswords { get; set; }

    [Parameter] public EventCallback<string> CopyPasswordToClipboardCallback { get; set; }
    [Parameter] public EventCallback<string> HandleDeleteButtonClickCallback { get; set; }


}